{%extends 'base.html'%}

{% block main%}

<br>
<h1 class='page-header'>Property</h1>
{% include "flash_messages.html"%}
<div class="card" id="cards">
<div class="row">
    <div class="column">
     <img class="img1" src = "{{url_for('get_image',filename=spec_prop.photo)}}">
    </div>

    
    <div class="column1">
        <h3 class="card-tit">{{spec_prop.title}}</h3>
    <div class="top">
        <div class="pri">
        {{spec_prop.price}}
    </div>
        <div class="prop">
        {{spec_prop.proptype}}
    </div>
    </div>
    <div class="descrip">
    <p class="card-tex">{{spec_prop.desc}}</p>
    </div>
    <div class="row">
        <div class="col-md-3">
    <p ><img class="iconp" src="{{url_for('static', filename='bed.png')}}"/>{{spec_prop.rooms}} Bedroom</p>
    </div>
    <div class="col-md-3">
        <p ><img class="iconp" src="{{url_for('static', filename='shower.png')}}"/>{{spec_prop_bathrooms}} Bathroom</p>
        </div>
    </div>
    <div class="icon3">
            <p ><img class="iconp" src="{{url_for('static', filename='pin-icon.png')}}"/>{{spec_prop.location}}</p>
            </div>
    
    <button class="btn">Email Realtor</button>
    </div>
</div>
</div>

    
{% endblock%}